@font-face {
	font-family: League-Gothic;
	src: url("League-Gothic.otf") format("opentype");
}

@font-face {
	font-family: Museo;
	src: url("Museo300-Regular.otf") format("opentype");
}

#vintage h1 {
	text-align: center;
	margin: 200px auto;
	font-family: "League-Gothic", Courier;
	font-size: 200px; text-transform: uppercase;
	color: #707070;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;
}
